/* Importing Google fonts */
@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:100,300,400,500,700,900");

/* Importing component files from css/components/ */
@import url("components/banner.css");
@import url("components/box.css");
@import url("components/button.css");
@import url("components/flexbox.css");
@import url("components/form.css");
@import url("components/image.css");
@import url("components/list.css");

/*** Design by CSS Basics ***/

body {
    /*background-image: url(../images/background.jpg); */
    background-color: #f7f9fc;
    color: rgb(64, 64, 64); /* Text color */
    /*font-family: Arial, sans-serif; *//*Courier, monospace; *//*Times, serif; *//*Helvetica;*/
    font-family: 'Lora', serif; /*TEST*/
    font-size: 16px;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: lighter;
	  line-height: 1.5;
  /*letter-spacing: 1px; */
    margin: 0px;
  }

h1,h2,h3 {
    color: #65b25b;
    /*font-size: 20px;*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  h1 {
    color: red;
    font-size: 40px;
    font-weight:500;
    font-family: 'Andalé Mono', monospace; /*TEST*/
  }
  h2 {
    /*color: rgb(96, 96, 96);*/
    font-size: 32px;
  }
  h3 {
    font-size: 22px;
    font-weight: 300;
}

a {
    color: orange;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  a:hover {
    color: orangered;
    cursor: default; /*TEST on buttons */
}

/** For the input type="password" and its Eye Oeil **/
    /* former password.css - BEGIN */
/* Le <input type="password"> est dans un <label>...</label> */ 
label {
    position: relative; /* to its normal position / top,bottom right,left */
}
label input {
    _font-size: 1em;
    _color: #f9f9f9;
    _background: transparent;
    _padding: 1rem 1.2rem;
    _width: 350px;
    _border-radius: 5px;
    _border: 2px solid #7a7a7a;
    _transition: all 0.2s;
  }
  label input:focus {
    _border-color: #ff4754;
}

/** Oeil Eye icon to show/hide password **/
/* LABEL <label class="password-icon"> - ADDED */
label.password-icon { 
  display: inline-flex;
  padding: 0px;
}
/* The Oeil Eye icon to show/hide password is in <label><div class="password-icon"> Eye icon </div></label> */
/* DESCENDANTS OF LABEL <label> ... <element class="password-icon"> - Here element is div */
label .password-icon {
    _display: flex; display: inline-flex; 
    align-items: center;

    position: absolute; /*positionné par rapport à son parent le plus proche*/
    _top: 50%; _right: 20px;

    _position: relative; /*décalé par rapport à sa position initiale grâce aux propriétés top, left, bottom et right*/
    top: 22px; right: 22px;

    _transform: translateY(-50%);
    width: 20px; height: 20px;
    color: #f9f9f9;
    transition: all 0.2s;
  }
  label .password-icon:hover {
    cursor: pointer;
    color: #ff4754;
  }
  label .password-icon .feather-eye-off {
    display: none;
}
    /* former password.css - END */
input {
    font-size:1em;
    color:white; /*#f9f9f9;*/
    background: rgba(16,16,16,0.2);/*transparent;*/
    padding: 1rem 1rem;
    _width: 200px;
    border-radius: 7px;
    border: 0px solid #7a7a7a;
    transition: all 0.2s;
  }
  input:focus {
    _border-color: #ff4754;
}

#introduction p { /* <p class="" id="introduction"> */
    margin-bottom: 30px;
}

/*** Design by CSS Classes ***/

.text-justify { /* class="text-justify" */
  text-align: justify;
}

.container {          /* see @media */
    width:900px;      /*700px */
    margin:20px auto; /* 40px auto */
}

/*iframe.growthable { */  /* for the map displayed in an iframe */
.growthable {             /* for any markup */
  flex-grow: 1; /* This allows the grow of the <iframe  class="growthable"> map </iframe>  */
}

/** map display **/

div.map-item {
  max-width: 1300px;
  max-height:300px;
}

/** @media screen and (max-width:...px) **/

@media (max-width:1260px) {
  div.map-item  {  width:1000px; }
}
@media (max-width:960px)  {
  .container    {  width:700px;  }
  div.map-item  {  width:650px;  }
}
@media (max-width:720px)  {
  .container    {  width:500px;  }
  div.map-item  {  width:450px;  }
}
@media (max-width:540px)  {
  .container    {  width:300px;  }
  div.map-item  {  width:300px;  }
}

/*** Design adjustments using id ***/

#shadowed {        /* id="shadowed" - UNUSED */
    box-shadow: 0px 10px 10px rgba(0,0,0,0.5); /* horizontal-shift vertical-shift blur color */
}
