.banner {
    background-image: url(../../images/background.jpg);   
    background-size: cover;  /* the background-image covers the <div class="banner"> */
    background-position: center;
  }
.banner h1 {
    color: white;
    font-size: 50px;
}
.banner h2 {
    color: white;
    font-size: 30px;
    font-weight: lighter;
    opacity: 0.8;
}

/* Put some padding top/bottom of 150 pixels on your banner.
  
  Linear-gradient filters
  We often use a transparent linear gradient on top of an image to make texts more readable. 
  A linear gradient is defined this way: linear-gradient(angle, start_color start_point, end_color end_point)
*/

.banner {
    background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.1) 50%), url('images/background.jpg');
}
.banner-flat-filter {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/background.jpg');
}
