.banner {
    color: white;
    padding: 50px 0px 10px 0px;
    background-image:   linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.1) 50%), 
                        url('../../images/background.avif');
    background-size: cover;  /* avoid to repeat the image many times */
    background-position: center;
  }
  .banner h1 {
    color: white;
    font-size: 50px;
  }
  .banner h2 {
    color: white;
    font-size: 30px;
    font-weight: lighter;
    opacity: 0.8;
    margin-bottom: 50px;
}
/* @media must be after the classes it changes */
@media (max-width:540px) {
    .banner {
        background-image: url(../../images/background.jpg);
    }
    .banner h1{ 
        font-size: 40px;
        font-weight: 700;
    }
  }

/* Linear-gradient filters
   Use a transparent black linear gradient on top of an image to make white texts more readable 
   Parameters of a linear gradient: linear-gradient(angle, start_color start_point, end_color end_point)
*/

.banner23 {
    background-image:   linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.1) 50%), 
                        url('../../images/background.avif');
}
.banner-flat-filter {
    background-image:   linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), 
                        url('../../images/background.jpg');
}
