.box-main {
    padding: 40px; /* statrs by a section heading <h2>*/
    background-color:white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* horizontal-shift vertical-shift blur color */
    border-radius:4px;
    text-align:center;
    margin:20px 0px;
}
.box-foot {
    border-radius:4px;
    text-align:center;
    margin:20px 0px;
}

#with_heading {
    padding-top: 10px; /* without section heading, more padding */
}
#with_heading h2 {
    margin-top: 10px;
}
