.btn-main {
    background-color:#1f8f10;
    color:white;
    padding:15px 20px;
    border-radius:4px;
  }
  .btn-main:hover {
    background-color:rgb(64, 64, 64);
    color:white;
}
#btn_special {      /* "#btn_special a {" does not work with the anchor "a" specified on this line */
    background-color:#d84619;
  }
  #btn_special:hover { /* specify the event hover because ".btn-main:hover" does not work anymore */
    background-color:rgb(128, 128, 128);
}
