.btn-main {
    background-color:#d84619;
    background-color:#1f8f10;
    color:white;
    padding:15px 20px;
    border-radius:4px;
}
.btn-main:hover {
    background-color:rgb(64, 64, 64);
    color:white;
}
  
