form.form-item {
    display:table;
  }
  
  div.form-item {
    display: table-row;
  }
  
  label,
  input {
    display: table-cell;
    margin-bottom: 10px;
    border-color: none;
    lighting-color: none;
  }
  
  label {
    padding-right: 10px;
}

