/***form.css 
    The form.form-container contains at least one div.form-item 
    see the last-child div.form-item 
***/
  /** CONTAINER **/
form.form-container {
    display: inline-flex;
    flex-direction: column; /* Affichage vertical */
    justify-content: space-between;
    align-items: stretch;
    row-gap: 0px;
    flex-wrap: wrap;        /* The too big element goes to the new line */
    align-content: center;  /* center the wrapped lines|columns */
}
    /*@media screen and (max-width: 1500px) {*/
  /*@media (max-width: 1500px) {
    form.form-container { 
        flex-direction:column; 
    }      
}*/

  /** ITEM **/
div.form-item {
    display: flex;
    flex: 1 0 100%;     /* flex: rassemble flex-grow flex-shrink flex-basis */
    justify-content: space-between;
}
/** LAST ITEM 
    The last child of the form is the submit button **/
div.form-item:last-child {  /* The last-child inherits the standard div.form-item */
    _visibility: hidden;        /* TEST - Hide the last form-item */
    justify-content: center;    /* The button is centered */
}
/** FORM LABEL AND INPUT **/
label,input {
    margin: 10px 0px;
}
label {
    padding-right: 10px;
    _width: 200px;
}
#touch_down {
    margin-bottom: 0px;
}
